@import '../../scss/variables';

.user {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  overflow: hidden;

  .icon.like .icon--big,
  .icon.dislike .icon--big {
    animation: bigAnimation 1s ease-in-out;
  }

  .container {
    width: 96%;
    height: 100%;
    margin: 0 auto;

    img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .info {
      // margin-top: -25%;
      transform: translateY(-75px);
      color: white;
      padding-left: 1em;
      background: linear-gradient(to top, rgb(90, 90, 90), transparent);
      min-height: 70px;
      padding-top: 1em;

      .top {
        display: flex;
        align-items: baseline;
      }

      .name {
        font-size: 1.3rem;
        font-weight: 600;
        margin-right: 0.3em;
      }

      .age {
        font-size: 1.2rem;
        font-weight: 400;
        display: flex;
        align-items: center;

        i {
          margin-left: 0.1em;
          font-size: 0.6em;
        }
      }
    }
  }

  .icon {
    .icon--big {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      // color: $like-color;

      &:nth-child(2) {
        animation-delay: $delay-time * 1;
      }
      &:nth-child(3) {
        animation-delay: $delay-time * 2;
      }
    }
  }

  .like {
    color: $like-color;
  }

  .dislike {
    i {
      // font-size: 1.4rem;
    }
    color: $dislike-color;
  }

  .action-info {
    position: absolute;
    top: 50%;
    right: 0.5em;
    transform: translateY(-50%);

    .action-count {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $like-light-color;

      &:nth-child(2) {
        margin-top: 0.8em;
        font-size: 1.2rem;
        color: $dislike-light-color;
      }

      .number {
        margin-top: 1px;
        font-size: 0.8rem;
        font-weight: 600;
        // color: $gray-color;
      }

      i {
        border-radius: 50%;
      }
    }
  }

  @keyframes bigAnimation {
    0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) scale(60);
      opacity: 0;
    }
  }
}
