.user {
  width: 100%;
  height: 80%;
  object-fit: cover;

  .container {
    width: 96%;
    height: 100%;
    margin: 0 auto;

    img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .info {
      margin-top: -25%;
      color: white;
      padding-left: 1em;

      .top {
        display: flex;
        align-items: baseline;
      }

      .name {
        font-size: 2rem;
        font-weight: 600;
        margin-right: 0.3em;
      }

      .age {
        font-size: 1.4rem;
        font-weight: 400;
        display: flex;
        align-items: center;

        i {
          margin-left: 0.1em;
          font-size: 0.6em;
        }
      }
    }
  }
}
