$body-bg-color: linear-gradient(-45deg, #f7797d, #fbd786, #c6ffdd);
$like-color: red;
$dislike-color: orange;
$delay-time: 0.075s;
$gray-color: rgb(126, 126, 126);
$like-light-color: rgb(253, 65, 65);
$dislike-light-color: rgb(253, 184, 56);
