@import "./constants/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"); // Roboto font

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-image: $body-bg-color;
  font-family: "Roboto", sans-serif;
  background-size: 400% 400%;
  animation: moveBackground 10s ease-in-out infinite;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}


@keyframes moveBackground {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}