@import "./scss/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"); // Roboto font

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-image: $body-bg-color;
  font-family: "Roboto", sans-serif;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
